



*{
  font-family: 'Fuzzy Bubbles';
}

html {
  min-height: 100%;
  background-image: url("https://thumbs.dreamstime.com/b/horror-background-grungy-frame-bloody-handprints-remains-scotch-tape-cellophane-fully-can-be-used-as-party-102303528.jpg");
  background-size: cover;
}

body {
  font-family:'Times New Roman', Times, serif;
  color:black;
  background-repeat: no-repeat;
  background-position: center center;
  
}



.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.movie-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.089);
  background-color: rgba(0, 0, 0, 0.096);
}

.movie-list:hover{
  background-color: rgba(0, 0, 0, 0.555);
  border-color: red;
  background-color: rgb(170, 0, 0);
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  border-width: 2px;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  background-color:bisque;
  border-radius: 10px;
  border-width: 2px;
}

.img-circle {
  border-radius: 5px;
  object-fit: cover;
  width: 230px;
  height: 230px;
  margin: 50px;
}

.title {
  text-align: center;
  font-size: 4rem;

}

.nav {

  text-align: center;
  color: brown;
  font-size: 3rem;
  border-bottom-style: solid;
  border-color: black;
  box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.685);
  
}

.nav:hover{

  color: black;
  background-color: rgba(0, 0, 0, 0.555);
}

.nav:active{
  background-color: rgba(255, 0, 0, 0.322);
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
